{% extends "base.html" %}
{% load static %}

{% block styles %}
    <style>
        .yandex-map {
            width: {{ map_width }}px;
            height: {{ map_height }}px;
        }

    </style>
    <link rel="stylesheet" href="{% static 'bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}">
{% endblock styles %}

{% block scripts_head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_api_key }}&lang=ru_RU" type="text/javascript"></script>
    <script type="application/javascript" src="{% static 'moment.js/moment-with-locales.js' %}"></script>
    <script type="application/javascript" src="{% static 'bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

{% endblock scripts_head %}

{% block container %}
        {% block content %}
            <h1>Профиль</h1>
            <h3>Укажите, пожалуйста, Ваше данные:</h3>
            <form method="post">
                {% csrf_token %}
                <div class="row mt-3 mb-3">
                    <div>Ник (подпись под сообщениями):</div>
                    <div class="col-3">
                        <div>{{ profile_form.user_name }}</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>Имя:</div>
                    <div class="col-3">
                        <div>{{ profile_form.first_name }}</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>Фамилия:</div>
                    <div class="col-3">
                        <div>{{ profile_form.last_name }}</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>Дата рождения:</div>
                    <div class="col-3">
                        <div class="input-group">
                            {{ profile_form.birth_date }}
                            <label class="input-group-addon btn" for="id_birth_date" style="line-height: 1.3;">
                               <span class="fa fa-calendar open-datetimepicker"></span>
                            </label>
                        </div>
                    </div>
                    {% if profile_form.birth_date.errors %}
                        <div>
                            <strong class="text-danger">{{ profile_form.birth_date.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>

                <div class="row mb-3">
                    <div>Ваше местоположение:</div>
                    <div class="col-md-6 mb-3">
                        <div id="map" class="yandex-map"></div>
                    </div>
                    <div class="col-md-6">
                        <textarea id="staticAddress" class="form-control m-1" type="text" readonly rows="2">{{ address_text }}</textarea>
                    </div>
                    {{ profile_form.latitude }}
                    {{ profile_form.longitude }}
                </div>

                {% if profile_form.non_field_errors %}
                    <div class="row mb-3">
                        <strong class="text-danger">{{ profile_form.non_field_errors|striptags }}</strong>
                    </div>
                {% endif %}

                <div class="row mb-3">
                    <div class="col-1">
                        <input type="submit" value="Сохранить" class="btn btn-primary">
                    </div>
                </div>
            </form>

        {% endblock %}
{% endblock container %}

{% block scripts %}

    <script type="application/javascript">
        $('#id_birth_date').datetimepicker({
            locale: 'ru',
            format: 'L'
        });

        ymaps.ready(init);
        var myMap, newPlacemark, currentPlacemark;

        function init() {
            myMap = new ymaps.Map('map', {
                center: [{{ profile_form.latitude.value }}, {{ profile_form.longitude.value }}],
                zoom: 7
            });

            {% if geo_exists %}
                currentPlacemark = new ymaps.Placemark();
                var cords = [{{ profile_form.latitude.value }}, {{ profile_form.longitude.value }}];
                currentPlacemark.geometry.setCoordinates(cords);
                myMap.geoObjects.add(currentPlacemark);
            {% endif %}

            newPlacemark = new ymaps.Placemark();

            myMap.events.add('click', function(e) {
                myMap.geoObjects.removeAll();
                var staticAddressControl = $("#staticAddress");
                newPlacemark.geometry.setCoordinates(e.get('coords'));
                myMap.geoObjects.add(newPlacemark);

                var lat = e.get('coords')[0];
                var lon = e.get('coords')[1];
                $('#id_latitude').val(lat)
                $('#id_longitude').val(lon)

                var url = `{% url "personal_cabinet:geocode" %}?geocode=${lon},${lat}`
                $.get(
                    url,
                    function(data) {
                        staticAddressControl.val(data);
                    }
                ).fail(function(response) {
                    staticAddressControl.val(response.responseText);
                })
            });
        }

    </script>
{% endblock scripts %}