{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'mdb5/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome-5.15.2/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome-5.15.2/css/fontawesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-3.6.0/jquery-3.6.0.min.js' %}"></script>

    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

    {% block styles %}
    {% endblock styles %}

    {% block scripts_head %}{% endblock scripts_head %}

</head>

<body>

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block splash %}
{% endblock splash %}
{% csrf_token %}
<div class="container">
    {% block container %}
    {% endblock container %}
</div>

<!-- Site footer -->
{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock scripts %}

<script src="{% static 'mdb5/js/mdb.min.js' %}"></script>

</body>
</html>


