{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
{#    <meta name="description" content="{% block description %}{% endblock description %}">#}
{#    <title>{% block title %}{% include "_brandname.html" %}{% endblock %}</title>#}
    <link href="{% static 'mdb5/css/mdb.min.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock styles %}

    {% block scripts_head %}{% endblock scripts_head %}

</head>

<body>

{#{% include 'ajax_setup.html' %}#}
{#{% include 'session_security/all.html' %}#}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block splash %}
{% endblock splash %}
{% csrf_token %}
<div class="mt-3">
    {% block container %}
    {% endblock container %}
</div>
<!-- Site footer -->
{#{% block footer %}#}
{#    {% include "_footer.html" %}#}
{#{% endblock %}#}



{% block scripts %}
{% endblock scripts %}

<script src="{% static 'mdb5/js/mdb.min.js' %}"></script>

</body>
</html>


