{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'mdb5/css/mdb.min.css' %}" rel="stylesheet">
    </head>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link " aria-current="page" href="#">Родная партия</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Вече</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Краудфандинг</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Краудсорсинг</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->

    </header>
    <body>
        <div id="content">
            {% block content %}
                <h1>Родная партия</h1>
            {% endblock %}
        </div>

        <script src="{% static 'mdb5/js/mdb.min.js' %}"></script>
    </body>
</html>