{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
{#    <meta name="description" content="{% block description %}{% endblock description %}">#}
{#    <title>{% block title %}{% include "_brandname.html" %}{% endblock %}</title>#}
    <link href="{% static 'mdb5/css/mdb.min.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock styles %}

    {% block scripts_head %}{% endblock scripts_head %}

</head>

<body>

<div class="mt-3">
    {% block container %}
        <h1>Вход</h1>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <br></br>
            <p><input type="submit" value="Вход"></p>
        </form>
    {% endblock container %}
</div>


<script src="{% static 'mdb5/js/mdb.min.js' %}"></script>

</body>
</html>
