{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'mdb5/css/mdb.min.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock styles %}

    {% block scripts_head %}{% endblock scripts_head %}

</head>

<body>

<div class="container mt-3 mb-3">
    <h1>Вход</h1>
    <form method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-3 mt-3 mb-3">
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                <div class="col-3 mb-3">
                    {{ form.password }}
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <input type="submit" value="Вход" class="btn btn-primary">
                </div>
            </div>
    </form>
</div>


<script src="{% static 'mdb5/js/mdb.min.js' %}"></script>

</body>
</html>
