{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'mdb5/css/mdb.min.css' %}" rel="stylesheet">
</head>

<body>

    <div class="container mt-3 mb-3">
        <h1>Активация приглашения</h1>
        <form method="post">
            {% csrf_token %}
                <div class="row mt-3 mb-3">
                    <div>Пароль (не менее {{ password_min_len }} символов):</div>
                    <div class="col-3">
                        <div>{{ form.new_password1 }}</div>
                    </div>
                    {% if form.new_password1.errors %}
                        <div>
                            <strong class="text-danger">{{ form.new_password1.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="row mb-3">
                    <div>Подтвердите, пожалуйста, пароль (не менее {{ password_min_len }} символов):</div>
                    <div class="col-3">
                        <div>{{ form.new_password2 }}</div>
                    </div>
                    {% if form.new_password2.errors %}
                        <div>
                            <strong class="text-danger">{{ form.new_password2.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
                {% if form.non_field_errors %}
                    <div class="row mb-3">
                        <strong class="text-danger">{{ form.non_field_errors|striptags }}</strong>
                    </div>
                {% endif %}
                <div class="row mb-3">
                    <div class="col-1">
                        <input type="submit" value="Отправить" class="btn btn-primary">
                    </div>
                </div>
        </form>
    </div>

    <script src="{% static 'mdb5/js/mdb.min.js' %}"></script>

</body>
</html>
