<div id="invites" class="row">
    <section class="col-md-5">
        <h3>Выслать инвайт</h3>
        <form method="post" >
            {% csrf_token %}
            <div class="row">
                <div class="d-grid gap-1">
                  <div class="p-2">{{ invite_form.email }}</div>
                  <div class="p-2">
                      <input type="submit" value="Выслать" class="btn btn-primary">
                  </div>
                </div>
            </div>
        </form>

    </section>
    <section class="col-md-7">
        <h3>Ранее высланые инвайты</h3>
    </section>
</div>