<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="geoTenMapModal" aria-labelledby="geoTenMapLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div id="geoTenMapModalHeader" class="modal-header text-center">
                <h4 class="modal-title font-weight-bold">Десятка на карте</h4>
                <button type="button" id="geoTenMapClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div>
                    <div id="map" class="yandex-map d-flex justify-content-center"></div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="geoTenMapOk">OK</button>
            </div>
        </div>
    </div>
</div>