<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="profilesInGeoTenModal" aria-labelledby="profilesInGeoTenLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div id="profilesInGeoTenModalHeader" class="modal-header text-center">
                <h4 class="modal-title font-weight-bold">Перечень участников географической десятки</h4>
                <button type="button" id="profilesInGeoTenClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalMessage">
                    <div>
                        <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Пользователь</th>
                                </tr>
                              </thead>
                            <tbody id="geoTenProfilesLIst">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="profilesInGeoTenOk">OK</button>
            </div>
        </div>
    </div>
</div>