<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="simpleModal" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div id="simpleModalHeader" class="modal-header text-center">
                <h4 class="modal-title font-weight-bold"></h4>
                <button type="button" id="simpleModalClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="simpleModalMessage"></p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="simpleModalOk">OK</button>
            </div>
        </div>
    </div>
</div>