<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="rejectInitiativeCommentModal" aria-labelledby="rejectInitiativeCommentLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div id="rejectInitiativeCommentModalHeader" class="modal-header text-center">
                <h4 class="modal-title font-weight-bold">Сообщение</h4>
                <button type="button" id="rejectInitiativeCommentClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <p>Укажите, пожалуйста, причину, по которой вы отклоняете инициативу (обязательно для ввода):</p>
                    <textarea id="rejectInitiativeComment" class="form-control m-1" type="text" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="rejectInitiativeCommentSend">Отправить</button>
                <button type="button" class="btn btn-danger" id="rejectInitiativeCommentCancel">Отмена</button>
            </div>
        </div>
    </div>
</div>