<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="userRequestCommentModal" aria-labelledby="userRequestCommentLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div id="userRequestCommentModalHeader" class="modal-header text-center">
                <h4 class="modal-title font-weight-bold">Комментарий пользователя</h4>
                <button type="button" id="userRequestCommentClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <textarea id="requestComment" class="form-control m-1" type="text" rows="5" readonly></textarea>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="userRequestCommentOk">OK</button>
            </div>
        </div>
    </div>
</div>