{% extends "base.html" %}
{% load static %}

{% block container %}
        <div id="content">
            {% block content %}
                <h1>Моя географическая десятка</h1>
                {% if user_in_geo_community  %}
                    <p>Ваша географическая десятка расположена по адресу: <strong>{{ geo_ten_community.get_geo }}</strong>.</p>

                    {% if geo_ten_community.is_geo_ten_complete %}
                        <p>Ваша географиеская десятка полностью укомплектована, готова публиковать инициативы и принимать участие в обсуждении инициатив других десяток.</p>
                    {% else %}
                        <p>Ваша географиеская десятка ещё не полностью укомплектована и пока не может публиковать инициативы и принимать участие в обсуждениях.</p>
                    {% endif %}

                    <h3>Состав географической десятки:</h3>
                    <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Пользователь</th>
                            </tr>
                          </thead>
                        <tbody id="geoTenProfilesLIst">
                        {% for profile in profiles %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><a href="{% url 'veche:user_card' profile.user.pk %}">{{ profile.user.username }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Вы пока не состоите в географической десятке.</p>
                {% endif %}
            {% endblock %}
        </div>
{% endblock container %}


{% block scripts %}
    <script type="application/javascript">
    </script>
{% endblock scripts %}