{% extends "base.html" %}
{% load static %}

{% block container %}
        <div id="content">
            {% block content %}
                <h1>Вступить в географиескую десятку</h1>
                {% if geo %}
                    <p>Вы можете вступить в слудующие географические десятки:</p>
                {% else %}
                    <p>Вы не указали своё местоположение. Перейдите, пожалуйста, на <a href="{% url 'personal_cabinet:profile' %}">страницу профиля</a> и
                    укажите своё геограгфическое положение.</p>
                {% endif %}
            {% endblock %}
        </div>
{% endblock container %}


{% block scripts %}
{% endblock scripts %}