{% extends "base.html" %}
{% load static %}

{% block styles %}
    <style>
        hr {
          margin-top: 1rem;
          margin-bottom: 1rem;
          border: 0;
          border-top: 0.1px solid rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock styles %}

{% block container %}
        <div id="content">
            {% block content %}
                {% include 'simple_modal.html' %}

                <div class="border shadow p-3 mb-5 bg-white rounded mb-3">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col">
                                <h1>Инициатива: "{{ initiative.initiative_label }}"</h1>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <hr class="rounded">
                                <p>{{ initiative.initiative_text }}</p>
                                <hr class="rounded">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <p class="mb-0 text-secondary ">Статус инициативы: {{ initiative.get_status_display|title }}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-0 text-secondary text-success">Поддержало <i class="fa fa-thumbs-up"></i>: {{ initiative.agreed_count }} из {{ community.profiles_count }}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-0 text-secondary text-danger">Отклонило <i class="fa fa-thumbs-down"></i>: {{ initiative.rejected_count }} из {{ community.profiles_count }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <sub class="text-secondary">Автор: {{ initiative.author.username }}</sub>
                            </div>
                            <div class="col-md-3">
                                <sub class="text-secondary">Дата создания: {{ initiative.created_at|date:"d.m.Y H:i:s" }}</sub>
                            </div>
                            <div class="col-md-3">
                                <sub class="text-secondary">Дата закрытия: {{ initiative.expire_at|date:"d.m.Y H:i:s" }}</sub>
                            </div>
                            <div class="col-md-2">
                                <i class="text-secondary fa fa-comments"> {{ initiative.messages_count }}</i>
                            </div>
                        </div>

                    </div>
                </div>

                {% for message in initiative.initiative_messages.all %}
                <div class="border shadow p-3 mb-3 bg-white rounded mb-3">
                    <div class="row">
                        <div class="col-md-2 border-right">
                            <span class="text-info">{{ message.author.username }}</span>
                        </div>
                        <div class="col-md-10">
                            <div class="row mb-1">
                                <div class="col">
                                    {{ message.message }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <sub class="text-secondary">Отправлено: {{ message.created_at|date:"d.m.Y H:i:s" }}</sub>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}

                <hr class="rounded mt-4 mb-4">

                <div class="row mb-3">
                    <div class="col">
                        <textarea id="initiativeMessage" class="form-control" type="text" rows="5"></textarea>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-6">
                        <button id="sendInitiativeMessage" type="button" class="btn btn-primary">Отправить сообщение</button>
                    </div>
                </div>

            {% endblock %}
        </div>
{% endblock container %}


{% block scripts %}
    <script type="application/javascript">
        $('#simpleModalClose, #simpleModalOk').on('click', function(event) {
            $('#simpleModal').modal('hide');
        });

        $('#sendInitiativeMessage').on('click', function(event) {
            var message = $('#initiativeMessage').val();

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
                    xhr.setRequestHeader('X-CSRFToken', key);
                }
            });

            $.ajax({
                type: 'POST',
                url: '{% url 'veche:initiative' initiative.pk %}',
                data: {'message': message},
                success: function (response) {
                    document.location.reload();
                },
                error: function (response) {
                    var message = response.responseJSON.message ? response.responseJSON.message : 'Ошибка при создании сообщения';
                    $('#simpleModalHeader').addClass('bg-danger');
                    $('#simpleModalHeader h4').text('Сообщение не создано');
                    $('#simpleModalMessage').text(message);
                    $('#simpleModal').modal('show');
                }
            })
        });

    </script>
{% endblock scripts %}