{% extends "base.html" %}
{% load static %}

{% block container %}
        <div id="content">
            {% block content %}
                <h1>Моя географическая десятка</h1>
                {% if user_in_geo_community  %}
                    <p>Ваша географическая десятка расположена по адресу: <strong>{{ geo_ten_community.get_geo }}</strong>.</p>
                    {% if geo_ten_community.is_geo_ten_complete %}
                        <p>Ваша географиеская десятка полностью укомплектована, готова выносить инициативы и принимать участие в обсуждении инициатив других десяток.</p>
                    {% else %}
                        <p>Ваша географиеская десятка ещё не полностью укомплектована и пока не может выносить инициативы и принимать участие в обсуждениях.</p>
                    {% endif %}
                {% else %}
                    <p>Вы пока не состоите в географической десятке.</p>
                {% endif %}
            {% endblock %}
        </div>
{% endblock container %}


{% block scripts %}
    <script type="application/javascript">
    </script>
{% endblock scripts %}