{% extends "base.html" %}
{% load static %}

{% block container %}
        <div id="content">
            {% block content %}
                <h1>Моя географическая десятка</h1>
                {% if user_in_geo_community  %}
                    <p>Вы состоите в географической десятке.</p>
                {% else %}
                    <p>Вы пока не состоите в географической десятке.</p>
                {% endif %}
            {% endblock %}
        </div>
{% endblock container %}


{% block scripts %}
    <script type="application/javascript">
    </script>
{% endblock scripts %}