{% extends "base.html" %}
{% load static %}

{% block styles %}
    <style>
        .yandex-map {
            width: {{ map_width }}px;
            height: {{ map_height }}px;
        }

        .increase-size {
            font-size: 1.2rem;
        }

    </style>
{% endblock styles %}

{% block scripts_head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_api_key }}&lang=ru_RU" type="text/javascript"></script>
{% endblock scripts_head %}

{% block container %}
    <div id="content">
        {% block content %}
            <h1>Вступить в географическую десятку</h1>
            {% if user_can_join_in_geo_community %}

                <dev class="row">
                    <dev class="col">
                        {% if geo_tens_for_join_qs %}

                            {% include 'geo_ten_map_modal.html' %}
                            {% include 'profiles_in_geo_ten_modal.html' %}
                            {% include 'send_request_join_geo_ten_modal.html' %}
                            {% include 'response_join_geo_ten_modal.html' %}

                            <p>Вы можете вступить в одну из следующих географических десяток:</p>
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Адрес</th>
                                  <th scope="col">Кол-во участников</th>
                                  <th scope="col">Посмотреть место на карте</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for geo_ten in geo_tens_for_join_qs %}
                                      <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <td>{{ geo_ten.get_geo }}</td>
                                          <td>
                                              <p class="text-center geo-ten-participants" data-geotenid="{{ geo_ten.pk }}">
                                                <span class="badge badge-info increase-size" role="button">
                                                    {{ geo_ten.participants_count }}
                                                </span>
                                              </p>
                                          </td>
                                          <td>
                                              <p class="text-center">
                                                  <span class="text-success geoMark" role="button" data-geocode="{{ geo_ten.get_geo.geo_lat }},{{ geo_ten.get_geo.geo_lon }}">
                                                      <i class="fa fa-2x fa-map-marker-alt"></i>
                                                  </span>
                                              </p>
                                          </td>
                                          <td>
                                              <button type="button" class="btn btn-primary join-ten" data-geotenid="{{ geo_ten.pk }}">Подать заявку</button>
                                          </td>
                                      </tr>
                                  {% endfor %}

                              </tbody>
                            </table>
                        {% else %}
                            <p>Пока не создано ни одной географической десятки.</p>
                            {%  if user_can_create_geo_community %}
                                <p>Вы можете сами <a href="{% url 'veche:geo_ten' %}">создать географическую десятку</a>.</p>
                            {% endif %}
                        {% endif %}
                    </dev>
                </dev>

            {% else %}
                {% if not geo %}
                    <p>Вы не указали своё местоположение. Перейдите, пожалуйста, на <a href="{% url 'personal_cabinet:profile' %}">страницу профиля</a> и
                    укажите своё географическое положение.</p>
                {% endif %}
                {% if not user.username %}
                    <p>Вы не указали свой никнейм. Перейдите, пожалуйста, на <a href="{% url 'personal_cabinet:profile' %}">страницу профиля</a> и
                    укажите свой никнейм.</p>
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock container %}


{% block scripts %}
    <script>
        {% if geo_tens_for_join_qs %}
            var myMap, currentPlacemark, joinGeoTenUrl;

            $('#geoTenMapModal').on('hidden.bs.modal', function () {
                $('#map').empty()
            });

            $('#geoTenMapClose').on('click', function(event) {
                $('#geoTenMapModal').modal('hide');
            });

            $('#geoTenMapOk').on('click', function(event) {
                $('#geoTenMapModal').modal('hide');
            });

            $('#profilesInGeoTenModal').on('hidden.bs.modal', function () {
                $('#geoTenProfilesLIst').empty();
            });

            $('#profilesInGeoTenClose').on('click', function(event) {
                $('#profilesInGeoTenModal').modal('hide');
            });

            $('#profilesInGeoTenOk').on('click', function(event) {
                $('#profilesInGeoTenModal').modal('hide');
            });

            $('#sendRequestJoinGeoTenClose').on('click', function(event) {
                $('#sendRequestJoinGeoTenModal').modal('hide');
            });

            $('#responseJoinGeoTenModal').on('hidden.bs.modal', function () {
                window.location.replace("{% url 'veche:my_requests' %}");
            });

            $('#responseJoinGeoTenClose').on('click', function(event) {
                $('#responseJoinGeoTenModal').modal('hide');
            });

            $('#responseJoinGeoTenOk').on('click', function(event) {
                $('#responseJoinGeoTenModal').modal('hide');
            });

            $('#sendRequestJoinGeoTenOk').on('click', function(event) {
                $('#sendRequestJoinGeoTenModal').modal('hide');

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
                        xhr.setRequestHeader('X-CSRFToken', key);
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: joinGeoTenUrl,
                    data: {'comment': $('#requestComment').val()},
                    success: function (response) {
                        $('#responseJoinGeoTenModalHeader').removeClass('bg-danger');
                        $('#responseJoinGeoTenModalHeader h4').text('Заявка успешно подана');
                        $('#responseJoinGeoTenMessage').text('Ваша заявка успешно подана. Дальше вы будете перенаправлены на страницу ваших заявок, где можно отслеживать их статус.')
                        $('#responseJoinGeoTenModal').modal('show');
                    },
                    error: function (response) {
                        var message = response.responseJSON.message ? response.responseJSON.message : 'Ошибка при создании заявки';
                        $('#responseJoinGeoTenModalHeader').addClass('bg-danger');
                        $('#responseJoinGeoTenModalHeader h4').text('Ошибка при создании заявки');
                        $('#responseJoinGeoTenMessage').text(message);
                        $('#responseJoinGeoTenModal').modal('show');
                    }
                })

            });

            $(".geo-ten-participants").click(function(ev) {
                geoTenId = $(ev.currentTarget).data('geotenid');
                $('#profilesInGeoTenModal').modal('show');
                var url = `{% url "veche:geo_community_participiants"%}?geo_community_id=${geoTenId}`
                $.get(
                    url,
                    function(data) {
                        $.each(data, function(index, participiant) {
                            var firstLastName = [participiant.first_name, participiant.last_name].filter(Boolean).join(' ');
                            var participiantLabel = `${participiant.user_name}` + (Boolean(firstLastName) ? ` (${firstLastName})` : '');
                            var userCardURL = "{% url 'veche:user_card' 999999999 %}";
                            userCardURL = userCardURL.replace(999999999, participiant.profile_id);
                            var newRow = `<tr><th scope="row">${index + 1}</th><td><a href="${userCardURL}">${participiantLabel}</a></td>`;
                            $('#geoTenProfilesLIst').append(newRow);
                        });
                    }
                ).fail(function(response) {
                    console.log(response)
                })

            });

            $(".geoMark").click(function(ev) {
                var cords = $(ev.currentTarget).data('geocode').split(',');

                ymaps.ready(init);
                function init() {
                    myMap = new ymaps.Map('map', {
                        center: cords,
                        zoom: 7
                    });
                    myMap.geoObjects.removeAll();
                    currentPlacemark = new ymaps.Placemark();
                    currentPlacemark.geometry.setCoordinates(cords);
                    myMap.geoObjects.add(currentPlacemark);
                }

                $('#geoTenMapModal').modal('show');
            });

            $(".join-ten").click(function(ev) {
                var geoTenId = $(ev.currentTarget).data('geotenid');
                joinGeoTenUrl = `{% url "veche:join_geo_ten" 999999999 %}`;
                joinGeoTenUrl = joinGeoTenUrl.replace(999999999, geoTenId);
                $('#sendRequestJoinGeoTenModal').modal('show');

            });
        {% endif %}
    </script>
{% endblock scripts %}